
/* VARIABLES */

:root {

    /* TEXT */

    --title-size: 1.4rem;
    --paragraph-size: 1.1rem;
    --paragraph-weight: bold;
    --paragraph-style: italic;
    --input-text-size: 1rem;
    --textarea-text-size: 1rem;
    --btn-text-size: 1.3rem;

    /* BOXES */

    --btn-radius: 20px;
    --form-radius: 20px;

    /* GAPS */

    --gap-input-boxes: calc(450px - 440px);
}

body {
    margin: 0;
    font-family: system-ui;
}

.container {
    display: flex;
    flex-direction: column;
}

.form {
    width: 450px;
    border: 1px solid black;
    border-radius: var(--form-radius);
    margin: 7vh auto;
    padding: 50px;

}

.form-datas {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.personal-info {
    display: flex;
    gap: var(--gap-input-boxes);
}

div.personal-info > div.form-datas.name > input,
div.personal-info > div.form-datas.surname > input,
div.contact-info > div:nth-child(1) > input,
div.contact-info > div:nth-child(2) > input {
    width: 208px;
}

.contact-info {
    display: flex;
    gap: var(--gap-input-boxes);
    margin-bottom: 20px;
}

.form-datas label {
    margin-bottom: 2vh;
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    font-style: var(--paragraph-style);
}

.form-datas input {
    font-size: var(--input-text-size);
    padding: 4px;
}


textarea {
    font-size: var(--textarea-text-size);
    height: 15vh;
}

.btn-container {
    margin-top: 6vh;
    display: grid;
    gap: 10px;
}

button {
    font-size: var(--btn-text-size);
    border-radius: var(--btn-radius);
    padding: 5px 0px;
}